<p>liste-produit works!</p>
<p>Nom : {{nom}}</p>
<p>Note : {{note}}</p>
<section>
    <!--<article class="unProduit" *ngFor = "let unProduit of produit">
        <p>Nom : {{unProduit.nom}}</p>
        <p>Prix : {{unProduit.prix}} $ <span *ngIf="unProduit.prix < note">(Aubaine)</span></p>
        <p>Prix : {{unProduit.prix}} $ <span *ngIf="verifAubaine(unProduit.prix)">(Aubaine)</span></p>
    </article>-->
    <p>Prix limite : <input [(ngModel)]="prixLimite"></p>
    <span>{{prixLimite}}</span>
        
    <app-produit *ngFor = "let unProduit of produit"  [produit]="unProduit"></app-produit>
    
    <!--<h1>Container</h1>
    <ng-container *ngFor = "let unProduit of produit" >
        <app-produit [produit]="unProduit"></app-produit>
    </ng-container>-->
</section>