<p>liste-produit works!</p>
<p>Nom : {{nom}}</p>
<p>Note : {{note}}</p>
<section>
    <!--<article [class]="unProduit.nom" *ngFor = "let unProduit of produit">
        <p>Nom : {{unProduit.nom}}</p>
        <p>Prix : {{unProduit.prix}} $ <span *ngIf="unProduit.prix < note">(Aubaine)</span></p>
        <p>Prix : {{unProduit.prix}} $ <span *ngIf="verifAubaine(unProduit.prix)">(Aubaine)</span></p>
    </article>-->
    <p>Prix limite : <input [(ngModel)]="prixLimite">
    <span>{{prixLimite}}</span></p>
    <button [disabled] = "!verifValide()">Bouton filtre (ne fait rien)</button>
    <p>Est éditable ? : <input type="checkbox" (change)="valideConnecter()" [(ngModel)]="estEditable"></p>

    <app-produit *ngFor = "let unProduit of produit" [actif]="idProduitActif" [editable]="estEditable" [prixMax]="prixLimite" [produit]="unProduit"></app-produit>
    
    <!--<h1>Container</h1>
    <ng-container *ngFor = "let unProduit of produit" >
        <app-produit [produit]="unProduit"></app-produit>
    </ng-container>-->
</section>